body {
  margin: 0;
  font-family: PingFang SC, Lantinghei SC, Helvetica Neue, Helvetica, Arial,
    Microsoft YaHei, '\5FAE\8F6F\96C5\9ED1', STHeitiSC-Light, simsun,
    '\5B8B\4F53', WenQuanYi Zen Hei, WenQuanYi Micro Hei, 'sans-serif';
}
